extends _layout
include _includes/link_mixin
block content
    h1.heading Sign Up
    form.form(method="POST")
        label.form__label
            span Username
            input.form__input(type="email", name='username' value=username)
        label.form__label
            span Password
            input.form__input(type="password", name='password')
        button.button(type="submit") Submit
        if errors
            for error in errors
                small.flash=error.msg
    h4 or sign in through 
    a.third__party__button(href='/login/slack')
        i.fab.fa-slack
        span &nbsp; Sign Up with Slack
        