extends _layout
include _includes/link_mixin
block content
    h1.heading Login
    form.form(method="POST")
        label.form__label
            span Username
            input.form__input(type="email", name='username' value=username)
        label.form__label
            span Password
            input.form__input(type="password", name='password')
        button.button(type="submit") Login
        if errors
            for error in errors
                small.flash=error.msg
    br
    p or sign in with
    a.third__party__button(href='/login/slack')
        i.fab.fa-slack
        span &nbsp; Login with Slack
    p Not registered yet? 
        a(href='/signup') Sign Up
        
