
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

:root {
  --default-font-family: Verdana , sans-serif;
  --secondary-font-family: 'Francois One', sans-serif;
  --default-font: 200 18px/1.25em var(--default-font-family);
}

html {
  font: var(--default-font);
}

.heading {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.25em;
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.headingSecondary {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 2em;
  color: var(--primary-color);
}

.link {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 1em;
  display: inline-block;
  margin: 0 10px;
  padding: 4px 5px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid var(--active-color);
  outline: none;
  background: none;
}
.primary__link__button {
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
}

.fas {
  margin-right: 0.5em;
}

.link:hover {
  opacity: 0.6;
}

.linkSecondary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.button {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  text-transform: uppercase;
  height: 2rem;
  width:8rem;
  border-radius: 20px;
  color: white;
  background-color: var(--primary-color);
  backdrop-filter: blur(5px);
  align-self: center;
  margin-top: 3rem;
}